In [68]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import LogisticRegression

from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score

from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

# Set option to display all rows
pd.set_option("display.max_rows", None)

In [40]:
df = pd.read_csv("data/titanic_train.csv")
df.head()
    # df = train data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
test_data = pd.read_csv("data/titanic_test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Missing age  
Missing cabin

In [43]:
print(df["Cabin"].value_counts())

Cabin
B96 B98            4
G6                 4
C23 C25 C27        4
C22 C26            3
F33                3
F2                 3
E101               3
D                  3
C78                2
C93                2
E8                 2
D36                2
B77                2
C123               2
E121               2
E44                2
D35                2
C125               2
E67                2
B35                2
B18                2
E24                2
B49                2
C65                2
B20                2
B5                 2
B57 B59 B63 B66    2
C126               2
B51 B53 B55        2
F4                 2
C124               2
F G73              2
B58 B60            2
C52                2
D33                2
C68                2
D20                2
D26                2
B28                2
C83                2
E25                2
D17                2
B22                2
C92                2
C2                 2
E33                2
C70                1
E58                1
A16                1
C86                1
D19                1
D48                1
A26                1
B50                1
A20                1
C101               1
A10                1
A23                1
E68                1
D9                 1
B41                1
D50                1
C85                1
B71                1
D49                1
B42                1
C50                1
A24                1
E17                1
D28                1
C47                1
E49                1
B69                1
B102               1
A36                1
B82 B84            1
D6                 1
B3                 1
F38                1
E77                1
D11                1
D30                1
C46                1
D45                1
B101               1
B38                1
C45                1
C90                1
C62 C64            1
F G63              1
B39                1
E10                1
C95                1
B86                1
C99                1
B94                1
C87                1
D15                1
A31                1
B80                1
B4                 1
A32                1
C49                1
A7                 1
B19                1
D47                1
D7                 1
F E69              1
C110               1
D10 D12            1
A5                 1
E31                1
B30                1
B78                1
A6                 1
D56                1
C103               1
E46                1
C118               1
A19                1
B73                1
A34                1
D46                1
B79                1
C30                1
B37                1
A14                1
E63                1
E12                1
D21                1
E38                1
C111               1
C104               1
C82                1
C106               1
E50                1
D37                1
C128               1
T                  1
E40                1
C91                1
C32                1
E34                1
C7                 1
C54                1
E36                1
C148               1
Name: count, dtype: int64

Seems Like no significance here, moreover 75% missing value, droping this column and replacing age by mean

In [44]:
df = df.drop("Cabin", axis = 1)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [45]:
df["Age"] = df["Age"].replace(np.nan, df["Age"].mean())
df["Age"].head(10)

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [46]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [47]:
features = ['Survived', 'Pclass', 'Sex','SibSp', 'Parch', 'Embarked']
    # nominal features
more_feat = [ 'Age' , 'Fare', 'Ticket']

for feature in features:
    print(df[feature].value_counts())
    print("")

Survived
0    549
1    342
Name: count, dtype: int64

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Sex
male      577
female    314
Name: count, dtype: int64

SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [48]:
df.select_dtypes(include='number').corr()["Survived"].sort_values()

Pclass        -0.338481
Age           -0.069809
SibSp         -0.035322
PassengerId   -0.005007
Parch          0.081629
Fare           0.257307
Survived       1.000000
Name: Survived, dtype: float64

In [49]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [50]:
# One Hot encoding
features = ["Sex", "Embarked"]

for feature in features:
    dummy_var = pd.get_dummies(df[feature])
    df = pd.concat([df.drop(feature, axis=1), dummy_var], axis=1)

In [54]:
df = df.drop(["Name", "Ticket"], axis=1)

In [57]:
df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,female,male,C,Q,S
0,1,0,3,22.0,1,0,7.2500,False,True,False,False,True
1,2,1,1,38.0,1,0,71.2833,True,False,True,False,False
2,3,1,3,26.0,0,0,7.9250,True,False,False,False,True
3,4,1,1,35.0,1,0,53.1000,True,False,False,False,True
4,5,0,3,35.0,0,0,8.0500,False,True,False,False,True

In [56]:
df.corr().Survived.sort_values()

male          -0.543351
Pclass        -0.338481
S             -0.155660
Age           -0.069809
SibSp         -0.035322
PassengerId   -0.005007
Q              0.003650
Parch          0.081629
C              0.168240
Fare           0.257307
female         0.543351
Survived       1.000000
Name: Survived, dtype: float64

In [59]:
# standardizing few columns
df["Age"] = (df["Age"]-df["Age"].mean())/df["Age"].std()
df["Fare"] = (df["Fare"]-df["Fare"].mean())/df["Fare"].std()

In [61]:
df = df.drop(["female", "Q"], axis=1)

In [64]:
df.corr()["Survived"]

PassengerId   -0.005007
Survived       1.000000
Pclass        -0.338481
Age           -0.069809
SibSp         -0.035322
Parch          0.081629
Fare           0.257307
male          -0.543351
C              0.168240
S             -0.155660
Name: Survived, dtype: float64

In [66]:
X = df.drop("Survived", axis=1)
Y = df["Survived"]

x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.25, random_state=0)

In [69]:
model = LogisticRegression()
model.fit(x_train, y_train)

c:\Users\yafas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [71]:
model.score(x_test, y_test)

0.7757847533632287

In [72]:
model.score(x_train, y_train)

0.7979041916167665