## Requirements
 - beautifulsoup
 - scrapy
 - selenium

In [2]:
# using bs4

from bs4 import BeautifulSoup
import requests

url = "http://www.example.com"
page = requests.get(url)

print(page.status_code)

200

In [3]:
soup = BeautifulSoup(page.content, "html.parser")
print("parsing done")

parsing done

In [6]:
soup.body.p

<p>This domain is for use in illustrative examples in documents. You may use this
    domain in literature without prior coordination or asking for permission.</p>

## Using Scrapy

In [7]:
import scrapy

class QuotesSpider(scrapy.Spider):
    name = "quotes"
    start_urls = ["http://quotes.toscrape.com/tag/humor",]

    def parse(self, response):
        for quote in response.css("div.quote"):
            yield {"quote" : quote.css("span.text::text").get()}

## Using Selenium

In [9]:
from selenium import webdriver

driver = webdriver.Firefox()
driver.get("http://www.example.com")

## Web Scraping with Pandas

In [13]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_banks'

In [14]:
import pandas as pd

In [15]:
tables = pd.read_html(url)
df = tables[0]
print(df)

    Rank                                Bank name  \
0      1  Industrial and Commercial Bank of China
1      2               Agricultural Bank of China
2      3                  China Construction Bank
3      4                            Bank of China
4      5                           JPMorgan Chase
..   ...                                      ...
95    96                            Handelsbanken
96    97                 Industrial Bank of Korea
97    98                                      DNB
98    99                      Qatar National Bank
99   100                                 VTB Bank

    Total assets (2023) (US$ billion)
0                             6303.44
1                             5623.12
2                             5400.28
3                             4578.28
4                             3875.39
..                                ...
95                             351.79
96                             345.81
97                             339.21
98                             338.14
99                             326.85

[100 rows x 3 columns]