# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objective**
- Create a Jupyter Notebook
- Insert code and markdown cells
- List popular languages for Data Science
- Know popular tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. python
2. scala
3. julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib

Data Science Tools
1. jupyter
2. excel
3. powerbi

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
2+2

15

In [4]:
3*7

21

In [6]:
100-63*2

-26

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hour = minutes/60

hour

3.3333333333333335

## Author

Md. Yafas Eusha