In [2]:
import sqlite3

# Create or connect to a database
conn = sqlite3.connect('example.db')

# Create a cursor object
cursor_obj = conn.cursor()

In [15]:
# Drop table if exists
drop_table = '''
		DROP TABLE IF EXISTS users;
'''

cursor_obj.execute(drop_table)


# Create a users table
table_statement = '''
    CREATE TABLE users (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        email TEXT
    );
'''

cursor_obj.execute(table_statement)
		# creates a table named users

In [16]:
# Single record insertion
cursor_obj.execute(
  '''
        INSERT INTO users (name, age, email) 
        VALUES 
            ("John Doe", 30, "john@example.com");
  '''
)


# Multiple record insertion
cursor_obj.execute(
    '''
        INSERT INTO users (name, age, email) 
        VALUES 
                ("Alice", 25, "alice@example.com"),
                ("Bob", 35, "bob@example.com");
	'''
)

# Commit changes to save to database
conn.commit()

In [19]:
# Fetch all records
cursor_obj.execute("SELECT * FROM users")
all_users = cursor_obj.fetchall()
        # list of tuples
        # tuples containing row data

for user in all_users:
    print(user)
    print(type(user))

(1, 'John Doe', 31, 'john@example.com')
<class 'tuple'>
(2, 'Alice', 25, 'alice@example.com')
<class 'tuple'>
(3, 'Bob', 35, 'bob@example.com')
<class 'tuple'>

In [18]:
# Update record
cursor_obj.execute(
    '''
		    UPDATE users 
				    SET age = 31 
						WHERE name = "John Doe";
		'''
)

conn.commit()

In [ ]:
import pandas as pd

# Execute query and convert to DataFrame
cursor_obj.execute("SELECT * FROM users")

df = pd.DataFrame(cursor_obj.fetchall(), columns=['id', 'name', 'age', 'email'])
            # fetchall returns list of tuples(each tuple is row data)

print(df)

   id      name  age              email
0   1  John Doe   31   john@example.com
1   2     Alice   25  alice@example.com
2   3       Bob   35    bob@example.com

In [ ]:
# alternative

df2 = pd.read_sql_query("SELECT * FROM users", conn)

print(df2)

   id      name  age              email
0   1  John Doe   31   john@example.com
1   2     Alice   25  alice@example.com
2   3       Bob   35    bob@example.com

# Cell Magic and Inline Magic

In [29]:
%%js
alert("Hello")

In [30]:
%%html
<h1>Hello</h1>

In [33]:
%%bash
echo "Hello world"

Couldn't find program: 'bash'