In [ ]:
import pandas as pd

In [17]:
# series from list

data = [20,None,10,50,40]

s = pd.Series(data)

# print(s)

s.notnull()

0     True
1    False
2     True
3     True
4     True
dtype: bool

In [19]:
# df from dictionary

data = {"Name" : ["A", "B", "C"],
        "Age" : [20, 34, 27],
        "Gender" : [0,1,0]
        }

print(data)

df = pd.DataFrame(data)

df.head()

{'Name': ['A', 'B', 'C'], 'Age': [20, 34, 27], 'Gender': [0, 1, 0]}

  Name  Age  Gender
0    A   20       0
1    B   34       1
2    C   27       0

In [26]:
print(type(df))
print(type(data))
print(type(df["Name"]))
print(type(s))

<class 'pandas.core.frame.DataFrame'>
<class 'dict'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [34]:
df[["Name", "Age"]]

  Name  Age
0    A   20
1    B   34
2    C   27

In [42]:
print(df[[True, False, True]])
print(df[df["Age"]>25])
print(df["Age"]>25)

  Name  Age  Gender
0    A   20       0
2    C   27       0
  Name  Age  Gender
1    B   34       1
2    C   27       0
0    False
1     True
2     True
Name: Age, dtype: bool

In [45]:
df["Age"].unique()

array([20, 34, 27])

In [49]:
df.to_csv("test_data.csv", index=False)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [51]:
df.describe()

        Age    Gender
count   3.0  3.000000
mean   27.0  0.333333
std     7.0  0.577350
min    20.0  0.000000
25%    23.5  0.000000
50%    27.0  0.000000
75%    30.5  0.500000
max    34.0  1.000000

In [58]:
df.sd()

AttributeError: 'DataFrame' object has no attribute 'sd'